In [2]:
import numpy as np
import pandas as pd

In [6]:
train_data = pd.read_csv('train.csv')

train_data.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [5]:
test_data = pd.read_csv('test.csv')
test_data.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
1,6,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21
2,8,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15
3,9,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93
4,10,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10

In [7]:
from ydata_profiling import ProfileReport

c:\Users\Abdul Wahab\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [8]:
profile = ProfileReport(train_data, title="Train Data Profiling Report")
output = profile.to_file("train_data_profiling.html")

Summarize dataset: 100%|██████████| 220/220 [00:52<00:00,  4.16it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:09<00:00,  9.92s/it]
Render HTML: 100%|██████████| 1/1 [00:07<00:00,  7.94s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 31.25it/s]

In [9]:
profile = ProfileReport(test_data, title="Test Data Profiling Report")
output = profile.to_file("test_data_profiling.html")

Summarize dataset: 100%|██████████| 192/192 [00:56<00:00,  3.41it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:13<00:00, 13.37s/it]
Render HTML: 100%|██████████| 1/1 [00:07<00:00,  7.29s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 33.01it/s]

In [10]:
train_data.describe()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000
mean,250.951952,3.360341,10.689189,11.293483,0.060060,0.557144,6.265619,68.226426,3.709934,9.633634,409.279279,18.448048,359.466096,12.515435,22.768769
std,147.859438,7.352272,22.674762,6.998123,0.237956,0.114955,0.703952,28.133344,1.981123,8.742174,170.841988,2.151821,86.584567,7.067781,9.173468
min,1.000000,0.006320,0.000000,0.740000,0.000000,0.385000,3.561000,6.000000,1.129600,1.000000,188.000000,12.600000,3.500000,1.730000,5.000000
25%,123.000000,0.078960,0.000000,5.130000,0.000000,0.453000,5.884000,45.400000,2.122400,4.000000,279.000000,17.400000,376.730000,7.180000,17.400000
50%,244.000000,0.261690,0.000000,9.900000,0.000000,0.538000,6.202000,76.700000,3.092300,5.000000,330.000000,19.000000,392.050000,10.970000,21.600000
75%,377.000000,3.678220,12.500000,18.100000,0.000000,0.631000,6.595000,93.800000,5.116700,24.000000,666.000000,20.200000,396.240000,16.420000,25.000000
max,506.000000,73.534100,100.000000,27.740000,1.000000,0.871000,8.725000,100.000000,10.710300,24.000000,711.000000,21.200000,396.900000,37.970000,50.000000

In [11]:
test_data.describe()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
count,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000
mean,258.404624,4.100862,12.661850,10.835145,0.086705,0.549981,6.321237,69.245665,3.958865,9.387283,406.231214,18.469942,351.299711,12.917977
std,143.289788,10.607761,24.536277,6.596488,0.282219,0.117826,0.700621,28.248244,2.324131,8.662621,164.480626,2.196196,99.781464,7.293408
min,3.000000,0.013810,0.000000,0.460000,0.000000,0.392000,4.138000,2.900000,1.178100,1.000000,187.000000,12.600000,0.320000,1.920000
25%,136.000000,0.082210,0.000000,5.320000,0.000000,0.447000,5.895000,42.800000,2.010700,4.000000,279.000000,17.000000,371.720000,6.870000
50%,268.000000,0.251990,0.000000,8.560000,0.000000,0.538000,6.223000,79.200000,3.421100,5.000000,330.000000,19.100000,390.070000,12.120000
75%,381.000000,3.673670,20.000000,18.100000,0.000000,0.624000,6.674000,94.600000,5.400700,24.000000,666.000000,20.200000,396.060000,17.210000
max,505.000000,88.976200,95.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,34.370000

In [13]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       333 non-null    int64
 1   crim     333 non-null    float64
 2   zn       333 non-null    float64
 3   indus    333 non-null    float64
 4   chas     333 non-null    int64
 5   nox      333 non-null    float64
 6   rm       333 non-null    float64
 7   age      333 non-null    float64
 8   dis      333 non-null    float64
 9   rad      333 non-null    int64
 10  tax      333 non-null    int64
 11  ptratio  333 non-null    float64
 12  black    333 non-null    float64
 13  lstat    333 non-null    float64
 14  medv     333 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 39.2 KB

In [14]:
train_data.isna().sum()

ID         0
crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
medv       0
dtype: int64

In [15]:
target_feature = 'medv'

y = train_data[target_feature]

X = train_data.drop(target_feature, axis=1)

In [16]:
X.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43

In [17]:
y.head()

0    24.0
1    21.6
2    33.4
3    36.2
4    22.9
Name: medv, dtype: float64

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=7)

In [19]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [22]:
train_score = round(model.score(X_train, y_train) * 100, 2)
print('Train Score: ', train_score)

Train Score:  73.96

In [23]:
y_pred = model.predict(X_test)

In [24]:
from sklearn.metrics import r2_score
test_score = round(r2_score(y_test, y_pred) * 100, 2)
print('Test Score: ', test_score)

Test Score:  70.01

In [25]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:',np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 3.7362739226406205
Mean Squared Error: 29.439220022863637
Root Mean Squared Error: 5.425792110177429

In [27]:
df1 = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred, 'Variance': y_test - y_pred})
df1.head()

     Actual  Predicted   Variance
304    19.9  17.935055   1.964945
243    50.0  26.179960  23.820040
65     20.6  27.340377  -6.740377
73     19.8  22.670944  -2.870944
327    18.3  17.697139   0.602861

In [30]:
train_data.head(20)

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
5,11,0.22489,12.5,7.87,0,0.524,6.377,94.3,6.3467,5,311,15.2,392.52,20.45,15.0
6,12,0.11747,12.5,7.87,0,0.524,6.009,82.9,6.2267,5,311,15.2,396.90,13.27,18.9
7,13,0.09378,12.5,7.87,0,0.524,5.889,39.0,5.4509,5,311,15.2,390.50,15.71,21.7
8,14,0.62976,0.0,8.14,0,0.538,5.949,61.8,4.7075,4,307,21.0,396.90,8.26,20.4
9,15,0.63796,0.0,8.14,0,0.538,6.096,84.5,4.4619,4,307,21.0,380.02,10.26,18.2
10,16,0.62739,0.0,8.14,0,0.538,5.834,56.5,4.4986,4,307,21.0,395.62,8.47,19.9
11,17,1.05393,0.0,8.14,0,0.538,5.935,29.3,4.4986,4,307,21.0,386.85,6.58,23.1
12,19,0.80271,0.0,8.14,0,0.538,5.456,36.6,3.7965,4,307,21.0,288.99,11.69,20.2
13,21,1.25179,0.0,8.14,0,0.538,5.570,98.1,3.7979,4,307,21.0,376.57,21.02,13.6
14,22,0.85204,0.0,8.14,0,0.538,5.965,89.2,4.0123,4,307,21.0,392.53,13.83,19.6
15,23,1.23247,0.0,8.14,0,0.538,6.142,91.7,3.9769,4,307,21.0,396.90,18.72,15.2
16,24,0.98843,0.0,8.14,0,0.538,5.813,100.0,4.0952,4,307,21.0,394.54,19.88,14.5
17,28,0.95577,0.0,8.14,0,0.538,6.047,88.8,4.4534,4,307,21.0,306.38,17.28,14.8
18,31,1.13081,0.0,8.14,0,0.538,5.713,94.1,4.2330,4,307,21.0,360.17,22.60,12.7
19,32,1.35472,0.0,8.14,0,0.538,6.072,100.0,4.1750,4,307,21.0,376.73,13.04,14.5

In [37]:
y_pred = model.predict(test_data)
y_pred

array([30.62357328, 25.25077832, 18.28040018,  9.19983767, 17.91863551,
       17.07207146, 19.14956442, 15.61427267, 13.33914269, 15.56328219,
       19.61351913, 21.01030886,  7.27462849, 14.10468775, 24.06782646,
       22.41598005, 23.49278159, 27.9589102 ,  6.38873678, 27.6436595 ,
       21.29138425, 24.17060947, 20.81295882, 21.6550082 , 20.93879156,
       22.74984732, 26.30040316, 27.11810284, 29.48862071, 28.22846514,
       35.0336018 , 34.61523886, 31.57299914, 21.6179326 , 18.39004779,
       20.74327312, 20.40267777, 20.14597287, 20.03025638, 22.65461904,
       14.75767464, 20.94999216, 21.18358603, 17.72403817, 13.24533281,
       12.17498863,  8.50383727, 16.3531055 , 19.45499673, 23.93571279,
       23.00816626, 33.85543908, 43.53193243, 26.49064611, 21.51427206,
       23.41049357, 32.53783979, 40.53393586, 35.68348662, 33.94148434,
       30.66929874, 37.11067681, 16.44740165, 17.5957735 , 23.3682079 ,
       24.02103574, 24.01070914, 27.5911283 , 25.90273426, 31.31172485,
       34.46973931, 34.73875341, 32.39967103, 31.88843517, 27.75656926,
       27.54064859, 22.43631535, 11.66806946, 18.78656215, 24.32849538,
       23.83601534, 21.36727054, 37.42836394, 42.06937894, 35.51180863,
       34.34043028, 39.20787834, 26.98944116, 21.32051288, 33.74071319,
       37.29739098, 36.9789968 , 29.98222506, 37.18078744, 26.41085922,
       25.81423923, 34.75551992, 23.05211922, 27.2449114 , 28.65249289,
       31.18130246, 29.91090281, 31.85505472, 24.97346114, 24.57716677,
       20.22258902, 24.11203832, 22.17233991, 18.35723313, 22.99083551,
       23.05707149, 18.76589776, 22.48120625, 19.64170092, 18.04748533,
       14.80122285, 12.80189649, 19.63022353, 19.76795707, 24.4880462 ,
       14.39578548, 16.83707365, 19.64646867, 23.55748526, 40.33574008,
       36.6662662 , 27.46207916, 17.69919116, 18.23214265, 25.22884522,
       19.53681066,  8.74441864,  6.95083424, 17.97555881, 21.20851841,
       20.92387263, 16.81663757, 10.39040951, 18.60250656, 11.38277077,
       16.16310625, 10.43171495, 20.10321682, 21.65011667, 16.86768606,
        1.5811298 , 12.46361026, 20.66678304, 18.76958708, 19.80711135,
       12.11434716, 16.9578123 , 17.82851114, 13.06635205, 15.24577539,
        3.91095852, 17.77626682, 17.13439094, 15.97793007, 14.92870742,
       12.01018653, 19.69169887, 25.47313632, 14.90013645, 28.74546971,
       22.17146622,  7.27866883, 19.32150808, 15.19394665, 11.95908876,
       19.97757004, 18.93045595, 25.23301192])

In [38]:
model.intercept_

35.90982906044262

In [39]:
model.coef_

array([-4.06368873e-03,  2.19628340e-02,  6.43258604e-02,  5.67841729e-02,
        5.05973586e+00, -1.46010605e+01,  3.35822601e+00, -1.19504803e-03,
       -1.57904962e+00,  2.97187715e-01, -1.04872057e-02, -8.25448987e-01,
        1.06659098e-02, -6.43706933e-01])